db/server_db_vars.php
db/db_vars.php
db/factura/factura_db_vars.php
db/servicio/servicio_db_vars.php
notification/config.php
reportesFacturas/*
boletas/*
tarifaciones-ingresadas/*
git
.idea/workspace.xml
.idea/tasks.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/dictionaries/americavoice.xml
.idea/php.xml
.idea/sqldialects.xml
.idea/inspectionProfiles/Project_Default.xml
